src/main/resources/ftpRule.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="folders">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="folder" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="sourceFolder"/>
              <xs:element type="xs:string" name="ftpIp"/>
              <xs:element type="xs:string" name="ftpTargetFolder"/>
              <xs:element type="xs:string" name="ftpUsername"/>
              <xs:element type="xs:string" name="ftpPassword"/>
              <xs:element type="xs:string" name="ftpOtherParameter"/>
              <xs:element name="fileNameChanges">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="file" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="sourceFilename"/>
                          <xs:element type="xs:string" name="targetFilename"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>